.card-img-top {
    width: 175px;
}
.topCards {
    display: inline-flex;
    flex-wrap: nowrap;
}
.middleCards {
    display: inline-flex;
    flex-wrap: nowrap;
}
.bottomCards {
    display: inline-flex;
    flex-wrap: nowrap;
}
.title {
    padding-left: 40%;
}
#middleRowTitle {
    display:none;
}
#bottomRowTitle {
    display:none;
}
#dracoCardMiddle {
    display: none;
}
#cedricCardMiddle {
    display: none;
}
#choCardMiddle {
    display: none;
}
#harryCardMiddle {
    display: none;
}
#dracoCardBottom {
    display: none;
}
#cedricCardBottom {
    display: none;
}
#choCardBottom {
    display: none;
}
#harryCardBottom {
    display: none;
}
#gameAttack {
    width: 10%;
}
#gameReset {
    width: 10%;
    display: none;
}