body {
    background: url("../images/connectwork.png");
}
h1 {
    color: white;
}
.card-img-top {
    width: 175px;
}
.topCards {
    display: inline-flex;
    flex-wrap: nowrap;
}
.middleCards {
    display: inline-flex;
    flex-wrap: nowrap;
}
.bottomCards {
    display: inline-flex;
    flex-wrap: nowrap;
}
.title {
    padding-left: 25%;
}
#topRowTitle {
    color: white;
}
#middleRowTitle {
    display:none;
    color: white;
}
#bottomRowTitle {
    display:none;
    color: white;
}
#dracoCardMiddle {
    display: none;
}
#cedricCardMiddle {
    display: none;
}
#choCardMiddle {
    display: none;
}
#harryCardMiddle {
    display: none;
}
#dracoCardBottom {
    display: none;
}
#cedricCardBottom {
    display: none;
}
#choCardBottom {
    display: none;
}
#harryCardBottom {
    display: none;
}
#gameAttack {
    width: 10%;
}
#gameReset {
    width: 10%;
    display: none;
}
.userInfo {
    font-size: 36px;
    font-weight: bold;
    color: white;
}